<header class="header">
	<h1 class="header__title">Welcome to {{ title }}!</h1>
  <bp-app-table-filters
		class="header__form"
		[text]="store.forecastCity$ | async"
		[selectedOption]="store.forecastPeriod$ | async"
		[options]="forecastPeriod"
		(formSubmit)="onSubmit($event)"
		(selectChanged)="onSelectChanged($event)"
		(formError)="onFormError()"
	>
	</bp-app-table-filters>
</header>
<body>
	<bp-app-table
		[header]="tableHeader$ | async"
		[body]="tableBody$ | async"
	>
	</bp-app-table>
</body>
